body {
    text-align: center;
  }

  #SpineImage {
    width: 100px;
    margin: 5px;
  }

  button {
    margin: 5px;
    outline: none;
  }

  button:hover {
    outline: #80deea solid thin;
  }

  #slider {
    padding: 10px;
  }